html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.nav-item .dropdown-menu {
    display: none;
}

.nav-item:hover .dropdown-menu {
    display: block;
}

.ProductTable table {
    width: 100%;
}

.ProductTable thead {
    width: calc(100%-1em);
}

.ProductTable tbody {
    display: block;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

    .ProductTable thead, .ProductTable tbody tr {
        display: table;
        width: 98%;
        table-layout: fixed;
    }

.ProductTable thead, .ProductTable tbody, .ProductTable td {
    border: none !important;
}
