@model Product
@{
	ViewData["Title"] = "Tạo vật phẩm";
}
<form asp-action="Create" method="post" enctype="multipart/form-data">
	<div class="row mb-5">
		<div class="col-md-5">
			<div class="mb-3">
				<label asp-for="ProductId" class="form-label">Mã vật phẩm</label>
				<input asp-for="ProductId" class="form-control" />
				<span asp-validation-for="ProductId" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="ProductName" class="form-label">Tên vật phẩm</label>
				<input asp-for="ProductName" class="form-control" />
				<span asp-validation-for="ProductName" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="ListedPrice" class="form-label">Giá niêm yết</label>
				<input asp-for="ListedPrice" class="form-control" />
				<span asp-validation-for="ListedPrice" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Quantity" class="form-label">Số lượng</label>
				<input asp-for="Quantity" class="form-control" />
				<span asp-validation-for="Quantity" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="StatusId" class="form-label"></label>
				<select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
			</div>
		</div>
		<div class="col-md-5">
			<div class="mb-3">
				<label asp-for="MainImageFile" class="form-label">Hình ảnh chính</label>
				<input asp-for="MainImageFile" class="form-control" accept="image/*"/>
				<span asp-validation-for="MainImageFile" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="OtherImageFile" class="form-label">Các hình ảnh khác</label>
				<input asp-for="OtherImageFile" class="form-control" accept="image/*" />
			</div>
			<div>
				<label asp-for="Description" class="form-label">Mô tả</label>
				<textarea asp-for="Description" class="form-control" style="resize:none;height:150px"></textarea>
			</div>
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Thêm</button>
	<a asp-action="Index" class="btn btn-secondary">Trở về</a>

</form>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}